
<a class="uw-show-on-focus" href="#main" id="uw-skip-link">Skip to main content</a>
<!-- UW navbar -->
<div class="uw-global-bar" role="navigation">
  <a class="uw-global-name-link" href="http://www.wisc.edu" aria-label="University home page">U<span>niversity <span class="uw-of">of</span> </span>W<span>isconsin</span>–Madison</a>
</div>

    <!-- branding header -->
    <header id="branding" class="uw-header uw-has-search">
      <div class="uw-header-container">
        <div class="uw-header-crest-title">
          <div class="uw-header-crest">
            <a href="http://www.wisc.edu"><img class="uw-crest-svg" src="assets/images/uw-crest.svg" alt="Link to University of Wisconsin-Madison home page"></a>
          </div>
          <div class="uw-title-tagline">
            <h1 id="site-title" class="uw-site-title">
              <a href="" rel="home">{{ site.title }}</a>
            </h1>
            <div id="site-description" class="uw-site-tagline">Sample site has a tagline</div>
          </div>
        </div>
        <div class="uw-header-search">
          <form role="search" method="get" action="" class="uw-search-form form-inline collapse">
            <label for="s" class="uw-show-for-sr-only">Search this site</label>
            <input type="text" class="uw-search-input" placeholder="Search" name="s" id="s" value="">
            <button class="unstyle uw-search-submit" type="submit">
              <svg aria-hidden="true" role="presentation" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-search"></use>
              </svg>
              <span class="uw-show-for-sr-only">Submit search</span>
            </button>
          </form>
        </div>
      </div>
    </header>


    <!-- Mobile menu button -->
    <button class="uw-mobile-menu-button-bar uw-mobile-menu-button-bar-reversed uw-is-closed " data-menu="uw-top-menus" aria-label="Open menu" aria-expanded="false" aria-controls="uw-top-menus">Menu<svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-menu"></use></svg><svg aria-hidden="true" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-close"></use></svg></button>

    <!-- Main and secondary nav menus -->
    <div id="uw-top-menus" class="uw-is-visible uw-horizontal" aria-hidden="false">
      <div class="uw-main-nav">
        <nav class="uw-nav-menu uw-nav-menu-reverse" aria-label="Main Menu">
          <ul id="uw-main-nav">
            <li>
              <a href="">Home</a>
            </li>

            <!-- About -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="{{ '/' | relative_url }}">Home
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {% if site.blog_nav_title %}
              <!-- Blog -->
              <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
                  {%- if page.url contains 'blog' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif %}


                <!-- Other pages -->
                {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
                {%- for p in sorted_pages -%}
                {%- if p.nav and p.autogen == nil -%}
                {%- if p.dropdown %}
                <li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}" >
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
                    {%- if page.title == p.title -%}
                    <span class="sr-only">(current)</span>
                    {%- endif -%}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    {%- for child in p.children -%}
                    {%- if child.title == 'divider' %}
                    <div class="dropdown-divider"></div>
                    {%- else %}
                    <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
                    {%- endif -%}
                    {% endfor %}
                  </div>
                </li>
                {%- else %}
                <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                  <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
                    {%- if page.title == p.title -%}
                    <span class="sr-only">(current)</span>
                    {%- endif -%}
                  </a>
                </li>
                {%- endif -%}
                {%- endif -%}
                {% endfor -%}
                {%- if site.enable_darkmode %}              

            <li id="menu-templates" class="uw-dropdown current-menu-parent">
              <a href="fallback_url_for_no_js" role="button" aria-haspopup="true" aria-expanded="false">
                Templates<svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use></svg><svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use></svg>
              </a>
              <ul aria-hidden="true" aria-label="Templates submenu" class="uw-child-menu">
                <li>
                  <a href="index.html">Base typography</a>
                </li>
                <li>
                  <a href="home-page.html">Home page</a>
                </li>
                <li class="current-menu-item">
                  <a href="content-sidebar.html" aria-current="page">Content with right sidebar</a>
                </li>
                <li>
                  <a href="sidebar-content.html">Content with left sidebar</a>
                </li>
              </ul>
            </li>
            <li id="menu-about" class="uw-dropdown">
              <a href="fallback_url_for_no_js" role="button" aria-haspopup="true" aria-expanded="false">
                About<svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use></svg><svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use></svg>
              </a>
              <ul aria-hidden="true" aria-label="About submenu" class="uw-child-menu">
                <li>
                  <a href="url">About</a>
                </li>
                <li>
                  <a href="url">Our Location</a>
                </li>
                <li>
                  <a href="url">News</a>
                </li>
                <li>
                  <a href="url">Contact Us</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="url">Location</a>
            </li>
            <li>
              <a href="url">Jobs</a>
            </li>
            <li>
              <a href="url">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="uw-secondary-nav">
        <nav class="uw-nav-menu uw-nav-menu-secondary" aria-label="Secondary Menu">
          <ul>
            <li id="menu-news" class="uw-dropdown">
              <a href="http://news.wisc.edu" aria-haspopup="true" aria-expanded="false">
                News<svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-down"></use></svg><svg aria-hidden="true" class="uw-caret" focusable="false"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#uw-symbol-caret-up"></use></svg>
              </a>
              <ul aria-hidden="true" aria-label="News submenu" class="uw-child-menu">
                <li>
                  <a href="http://localhost:8001/about/">About</a>
                </li>
                <li>
                  <a href="http://localhost:8001/contact-us/our-location/">Our Location</a>
                </li>
                <li>
                  <a href="http://localhost:8001/news/">News</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="http://today.wisc.edu">Calendar</a>
            </li>
            <li>
              <a href="http://map.wisc.edu">Map</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {%- endif -%}


